.button {
    padding: 27px 76px;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 700;
    color: $white;
    background-color: $green;
    border-radius: 1000px;
    border-top-right-radius: 0;
    box-shadow: 0 20px 40px rgba($black, 0.4);
    transition: background-color 0.25s ease;
    white-space: nowrap;
    text-transform: uppercase;

    @media only screen and (max-width: 480px) {
        padding: 20px 56px;
    }

    &:hover {
        background-color: rgba($light-green, 0.95);
    }

    &--border {
        background-color: transparent;
        box-shadow: inset 0 0 0 4px $green;
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            width: 210px;
            height: 210px;
            background-color: $green;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: -1;
            transform: translate(-50%, -50%) scale(0);
            transform-origin: center;
            transition: transform 0.3s ease;
        }

        &:hover::before {
            transform: translate(-50%, -50%) scale(1);
        }

        &:hover {
            background-color: inherit;
        }
    }

    &--sm {
        padding: 20px 58px;
        font-size: 13px;
    }
}