/* ======= Global styles ======= */
@import './variables';
@import './responsive';
@import './components';

/* ======= Sections styles ======= */
@import './navigation';
@import './header';

*, *::before, *::after {
    box-sizing: border-box;
}

::selection {
    background-color: rgba($green, 0.6);
}

body {
    margin: 0;
    font: 400 1rem $main-font;
    position: relative;
}

a, button, input, textarea, select {
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}